@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
 
}

<h2>Site Administration</h2>

<ul>

    <li>@Html.ActionLink("Edit Site Text", "Index", "SiteText")</li>
    <li>@Html.ActionLink("Edit Gallery", "Admin", "Gallery")</li>
    <li>@Html.ActionLink("Edit Social Media Links", "Index", "SocialMediaLink")</li>

   @* <li>@Html.ActionLink("Edit Books", "Index", "Books")*@
 
 
</ul>

