@model AdamFWatkins.Models.SiteText

@{
    ViewBag.Title = "Contact Adam F Watkins";
}

@section BadgeContent{

    <div class="RedsGuy">
       <img src="~/Images/RedsGuy.png" />
    </div>

}
 
<table class="FullPaperTable">
    <tr>
        <td class="FullPaperLogoBg">
            <div class="TableCellPositionFix">
                @Html.ActionLink("Adam F. Watkins", "Index", "Home" ,null, new { @class="logo", @title="Adam F. Watkins"})
            </div>
        </td>
    </tr>
    <tr>
        <td class="fullPaperMiddleBg">
            <div class="TableCellPositionFix">
                <div class="ContactContent SlantedText">

                    @Html.Raw(@Model.text)
 
                </div>
                <div class="ContactOctopus">
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td class="fullPaperBottomBg">
            <div class="TableCellPositionFix">
 
                @Html.Partial("_SocialMediaLinks", new AdamFWatkins.Models.dbContext().SocialMediaLinks.ToList())

            </div>
        </td>
    </tr>
    <tr>
        <td class="fullPaperFooterBg">
            <div class="TableCellPositionFix">
                <div class="ExtraThumbtacks">
                </div>
            </div>
        </td>
    </tr>
</table>